@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.rendering-pixelated {
    image-rendering: pixelated;
}

/* Fondo de tablero de ajedrez para transparencia */
.checkerboard-bg {
    background-color: #0f172a;
    background-image:
      linear-gradient(45deg, #1e293b 25%, transparent 25%),
      linear-gradient(-45deg, #1e293b 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #1e293b 75%),
      linear-gradient(-45deg, transparent 75%, #1e293b 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}